<!DOCTYPE html>
<html>
    <head>
        <style>
            .main {
                background: linear-gradient(to top,rgba(14, 227, 22, 0)50%,rgba(149, 226, 42, 0)50%),url(/images/math.jpg);
            }
        </style>
    <title>Maths Menu</title>
    <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/css/style_menu.css">
    </head>
    <body>
        <div class="main">

        <nav >
           
            <ul >
                <li class="l">LINKS</li>
                <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 1<span>&rsaquo;</span></a>
                 
                 </li>

                 <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 2<span>&rsaquo;</span></a>
                    
                    </li>

                 
                    <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 3<span>&rsaquo;</span></a>
                        
                        </li>
                        
                        <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 4<span>&rsaquo;</span></a>
                            
                            </li>
                            
                            
                            <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 5<span>&rsaquo;</span></a>
                                
                                </li>
               
                                <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 6<span>&rsaquo;</span></a>
                                   
                                   </li>
               
                                
                                   <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 7<span>&rsaquo;</span></a>
                                      
                                       </li>
                                       
                                       <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 8<span>&rsaquo;</span></a>
                                           
                                           </li>

                                           <li  class="dropdown"><a target="_blank" href="https://alexmathsonlineeducation.blogspot.com/p/class-9.html">Unit 9<span>&rsaquo;</span></a>
                                            
                                            </li>

                
            </ul>
          
        </nav>
        <div class="les1" >
            <p class="sub">MATHEMATICS</p>
            <ul class="list">
                <li>1.Set&nbsp;Language</li>
                <li>2.Real&nbsp;Numbers</li>
                <li>3.Algebra</li>
                <li>4.Geometry</li>
                <li>5.Coordinate&nbsp;Geometry</li>
                <li>6.Trignometry</li>
                <li>7.Mensuration</li>
                <li>8.Statistics</li>
                <li>9.Probability</li>
                       
            </ul>
        </div>

       

      
       

        <div class="menu" >
            <button class="btn" ><a target="_blank" href="/book/math_eb.pdf" >BOOK</a></button><br><br><br><br><br>
            <button class="btn" ><a target="_blank" href="/book/math_eg.pdf" >GUIDE</a></button>
        </div>
        
        </div>
    </body>

    
    </html>