<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Feedback</title>
        <meta name="viewport"  content="width=device-width ,initial-scale=1.0">
        <link rel="stylesheet" href="/css/style_feedback.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    </head>
    <body>
       <div class="main">
        <div class="icon">
            <div class="logo">
            <img src="/images/l1.png" alt=" "/>
            <p class="head" style="text-align:justify;">Success</p><br>
            </div>
            </div>
        
        <div class ="navbar">
            
            <div class="menu" >
                <ul>
                    <li><a  href="/home">HOME</a></li>
                    <li><a  href="/about">ABOUT</a></li>
                    <li><a  href="/">LOGIN</a></li>
                    
                    
                </ul>
            </div>
    </div>
        

        <div class="container">
            <div class="content">
            <p class="par">
                We,the students of College of Engineering Guindy,<br>
                 tried to provide a better Website for 9th-grade Students of Tamil Nadu.<br>
                As of now we have created a Website which we believe it is useful to you.<br>
                If any doubts or any ideas to upgrade <br>
                this website's youtube links , materials or anyother ideas ,<br>
                You are always welcome to give <br>
                Feedback about this page.We will verify your feedback<br>
                 and ideas and if it is good,we will Change.<br>
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:blue;"> -Team Itians.</span> 
                
                
                  
            </p></div>
            
            
            <div class="mainf">
            <form >
                
                <div class="feed">
                  
                <textarea id="feedb" rows="10" required></textarea>
                <label for="feedb">YOUR FEEDBACK:</label>
            </div>
            <button type="submit" onclick="sendEmail()">SUBMIT</button>
            </form>
            </div>
            
            
        </div>

    </body>
</html>